
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.dropdown {
  
  display: none;
 }







 .menu-toggle > span  {

  @apply h-[7px]  w-[44px] absolute     bg-black z-10 transition-all duration-500 ease-in-out;

 }

.menu-toggle{

  cursor: pointer;
  z-index: 100;
}


.maxg > h1 {

min-width: 25% !important;


background-color: aquamarine;


}



 

   
   .middle{

    @apply  mt-4

   }

   .bot{

    @apply  mt-8

   }



   .active > .top {

    transform: translateY(11px) translateX(0) rotate(45deg);

   }

   .active > .middle {

opacity: 0;
    
  }


  .active > .bot {
    transform: translateY(-21px) translateX(0) rotate(-45deg);
    
  }



  .overlay {
    position: absolute;
    background-color: aquamarine;
    top: 0;
    left: 0;
    width: 100%;
    height: 0%;
    opacity: 0;
    visibility: hidden;
    transition: opacity .35s, visibility .35s, height .35s;
    overflow: hidden;
  }  


  .open {
    opacity: .7;
    visibility: visible;
    height: 100%;
  }


  

.animate-ovelay-items{
  animation:fadeInRight .9s linear;
  
  animation-delay: 1.5s;
position: absolute;
top: 15px;
margin-left: 15px;

}



@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 55%;
    top: 100px;
  }
  55% {
    opacity: 0;
    right:300px;
    top: 100px;
  }
  100% {
    opacity: 1;
    left: 33px;
  }
}



@keyframes blinking{
  0%{
    transform: translateX(-100px);
  }
  50%{
    transform: translateX(50px);;
  }
  100%{
    transform: translateX(0px);;
  }
}



  div.tab-wrap h1:hover {

border-bottom: 2px solid  blue;
transition:  all .5s ease-in-out;
padding-bottom: 4px;

}


.topp{
  background: antiquewhite;
  color: black;
  top: -1px;
  transform: rotate3d(1, 1, 1, 45deg);
width: 60px;
height: 0.25rem;


}

.under{
  width: 60px;
  height: 0.25rem;
  
  background: antiquewhite;
  color: black;
  bottom: 22px;
  transform: rotate3d(46, 17, -57, 45deg);
}





/* .slick-prev {
   left: -7% !important; 
  z-index: 1;
  background-color: black !important;

}
.slick-next {
   right: -3% !important; 
   background-color: black !important;

  z-index: 1;
}


@media screen and (max-width: 768px) {
  .slick-prev {
    left: -12% !important; 
    z-index: 1;
    background-color: black !important;
  }
  .slick-next {
    right: -3% !important; 
  
    background-color: black !important;
    z-index: 1;
  }
}
   */


.cat-card > div {

  border:  2px solid  #D3D3D3;
height: 80px;
text-align: center;
padding-top: 15px;
font-weight: bold;



}

.prev-btn{
  left: -67px;
  top: 114px;
 
 font-size: 30px;
  border-radius: 40px;
  padding: 6px;
  z-index: 11;
}


.next-btn{
  right: -1px;
  top: 114px;

  font-size: 30px;
  border-radius: 40px;
  padding: 6px;
  z-index: 11;
}

.drop-list > li{


  @apply hover:bg-blue-700 hover:text-white
}

.t{
  
 transition: 1s cubic-bezier(.2,0,.38,.9)
  
}


.dis{

margin-left: -55px;
  display: none;
}


.parent{

width: calc(100% + 28rem);
transform: translateX(-28rem);



}


.stars > img{

@apply w-4 h-4

}





.user {
  border: 2px solid black;
  border-radius: 10px;
  background-color: #b3e3ff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 500px;
  height: 300px;
  margin: 20px;
}

.paginationBttns {
  width: 80%;
  height: 40px;
  list-style: none;
  display: flex;
  justify-content: center;
}

.paginationBttns a {
  padding: 10px;
  margin: 8px;
  border-radius: 5px;
  border: 1px solid #2b2eff;
  color: #2b2eff;
  cursor: pointer;
}

.paginationBttns a:hover {
  color: white;
  background-color: #2b2eff;
}

.paginationActive a {
  color: white;
  background-color: #2b2eff;
}

.paginationDisabled a {
  color: grey;
  background-color: grey;
}



.css-1160xiw-MuiPaper-root-MuiDrawer-paper{


width: 255px;

}