
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.dropdown {
  
  display: none;
 }


 .menu-toggle > span  {

  @apply h-[7px]  w-[44px] absolute     bg-black z-10 transition-all duration-500 ease-in-out;

 }

.menu-toggle{

  cursor: pointer;
  z-index: 100;
}




 

   
   .middle{

    @apply  mt-4

   }

   .bot{

    @apply  mt-8

   }



   .active > .top {

    transform: translateY(11px) translateX(0) rotate(45deg);

   }

   .active > .middle {

opacity: 0;
    
  }


  .active > .bot {
    transform: translateY(-21px) translateX(0) rotate(-45deg);
    
  }



  .overlay {
    position: fixed;
    background-color: aquamarine;
    top: 0;
    left: 0;
    width: 100%;
    height: 0%;
    opacity: 0;
    visibility: hidden;
    transition: opacity .35s, visibility .35s, height .35s;
    overflow: hidden;
  }  


  .open {
    opacity: .7;
    visibility: visible;
    height: 100%;
  }


  

.animate-ovelay-items{
  animation:fadeInRight .9s linear;
  
  animation-delay: 1.5s;
position: absolute;
top: 15px;
margin-left: 15px;

}



@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 55%;
    top: 100px;
  }
  55% {
    opacity: 0;
    right:300px;
    top: 100px;
  }
  100% {
    opacity: 1;
    left: 33px;
  }
}



@keyframes blinking{
  0%{
    transform: translateX(-100px);
  }
  50%{
    transform: translateX(50px);;
  }
  100%{
    transform: translateX(0px);;
  }
}